* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 12px;
}